
.ipynb_checkpoints/vaccine-run-kakao-nb-checkpoint.ipynb
.DS_Store
.ipynb_checkpoints/Untitled-checkpoint.ipynb
.ipynb_checkpoints/vaccine-run-naver-nb-checkpoint.ipynb
not_want_hosp.txt
response.txt
not_want_hosp.txt
.ipynb_checkpoints/vaccine-run-kakao-nb-share-checkpoint.ipynb
response.txt
